<p>
    <h4>Sign in</h4>
    <h6>to Paprika Cloud</h6>
    <hr>
</p>

<form id="login-form" class="form-signin ajax" method="post">
    <div class="form-group">
        <label for="login">Email address:</label>
        <input id="login" type="login" name="username" value="{{session['login.username']}}" class="form-control" placeholder="email address" required autofocus>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" value="{{session['login.password']}}" class="form-control" placeholder="password" required>
    </div>
    <p><a href="/password_forgotten">Password forgotten?</a></p>
    <button type="submit" class="btn btn-primary white border hover">Sign In</button>
</form>