

<nav class="navbar navbar-expand-lg bg-white">
  <a class="navbar-brand" href="/"><img class="svg" src="static/icon-fuse.svg" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
<div class="navbar-collapse collapse" id="navbarNav">
  <ul class="navbar-nav mx-auto head-menu">

  </ul>
  <ul class="navbar-nav head-menu">
      <li class="nav-item underline">
          <a class="nav-link text-center" href="/register"><img class="svg" src="static/icon-user.svg" /><p>Register</p></a>
      </li>
  </ul>
</div>
</nav>

