<p>
    <h4>Create a location</h4>
    <h6>Trigger on a file at the specified location. Add, edit and remove locations here.</h6>
    <hr>
</p>

 <form action="{{ url_for('location_create.show') }}" method=post>
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" class="form-control" value="{{trigger.name}}" placeholder="enter the name of the hook" required autofocus>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input id="description" name="description" value="{{trigger.description}}" class="form-control" placeholder="enter the description of the hook" required>
    </div>
    <div class="form-group">
        <label for="url">Url</label>
        <input id="url" name="url" value="{{trigger.url}}" class="form-control" placeholder="enter the url of the location" required>
    </div>
    <div class="form-group">
        <label for="patterns">Patterns</label>
        <input id="patterns" name="patterns" value="{{trigger.patterns}}" class="form-control" placeholder="enter a filter pattern">
    </div>
    <div class="form-group">
        <label for="recursive">Recursive</label>
        <select name="recursive" id="recursive" class="custom-select" required>
            {% for recursive in recursives %}
                {% if recursive.value == trigger.recursive %}
                    <option selected value="{{recursive.value}}">{{recursive.name}}</option>
                {% else %}
                    <option value="{{recursive.value}}">{{recursive.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="depth">Depth</label>
        <input id="depth" name="depth" value="{{trigger.depth}}" class="form-control" placeholder="enter the scan depth">
    </div>
    <input id="type" type="hidden" name="type" class="form-control" value="{{trigger.type}}">
    <input id="hashcode" type="hidden" name="hashcode" class="form-control" value="{{trigger.hashcode}}">
    <button type="submit" class="btn btn-primary white border hover">Create</button>
</form>

