<p/>
<h4 class="card-title">Reset password</h4>
<h6 class="card-subtitle mb-2 text-muted">Enter your email adress to reset your password.
An e-mail is send to your e-mail address with an reset url. Use this url to reset your password. </h6>
<hr>

<form id="password-forgotten-form" class="form-signin ajax" method="post">
    <div class="form-group">
        <label for="email">Email address:</label>
        <input id="email" type="email" name="username" class="form-control" placeholder="Email address" required
               autofocus>
    </div>
    <button type="submit" class="btn btn-primary">Reset</button>
</form>
