# Include the license file
include LICENSE.txt

# Include the data files
# recursive-include data *
recursive-include paprika_cloud/templates *
recursive-include paprika_cloud/static *
recursive-include paprika_cloud/paprika-cloud-db *