aniso8601==3.0.2
click==6.7
cx-Oracle==6.4.1
Flask==2.3.2
Flask-Cors==3.0.9
Flask-Login==0.4.1
Flask-RESTful==0.3.6
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
MySQL-python==1.2.5
pytz==2018.5
six==1.11.0
Werkzeug==2.2.3
