<p>
    <h4>Register</h4>
    <h6>Please fill in the registration details below to gain access.</h6>
    <hr>
</p>
<form id="register-form" class="form-signin ajax" method="post">
    <div class="form-group">
        <label for="email">Email address:</label>
        <input id="email" type="email" name="username" class="form-control" placeholder="Email address" required autofocus>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>

