<p>
    <h4>Reset</h4>
    <h6>Please enter a new password.</h6>
    <hr>
</p>
<form id="reset-form" class="form-signin ajax" method="post">
    <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <div class="form-group">
        <label for="repeat">Repeat new password:</label>
        <input id="repeat" type="password" name="repeat" class="form-control" placeholder="Password" required>
    </div>
    <input id="key" type="hidden" name="hashkey" value="{{key}}" class="form-control" placeholder="Activation key" required>
    <button type="submit" class="btn btn-primary">Reset</button>
</form>

